<span style="font-size: smaller;">© All rights reserved to <a href="https://gitlab.com/LucasIsHere"
                target="_blank">@LucasIsHere</a> and <a href="https://github.com/arcanom"
                target="_blank">@Arcanom</a></span>