.header {
    height: 10vh;
    width: 100%;

    position: fixed;

    background: #2d3336;
    color: white;
}

.body {
    height: 85vh;
    width: 100%;

    position: absolute;
    top: 10vh;

    overflow: auto;
    padding-left: 150px;
    padding-right: 150px;
}

.footer {
    height: 5vh;
    width: 100%;

    position: fixed;
    bottom: 0;

    padding-bottom: 5px;
    background: white;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}